@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flip-green {
  0% {
    transform: rotateX(0);
    background-color: white;
    border: black;
    border-width: 2px;
    border-style: solid;
  }
  45% {
    transform: rotateX(90deg);
    background-color: white;
    border: black;
    border-width: 2px;
    border-style: solid;
  }
  55% {
    transform: rotateX(90deg);
    color: white;
    background-color: #49a941;
    border-width: 0px;
  }
  100% {
    transform: rotateX(0);
    color: white;
    background-color: #49a941;
    border-width: 0px;
  }
}

@keyframes flip-gray {
  0% {
    transform: rotateX(0);
    background-color: white;
    border: black;
    border-width: 2px;
    border-style: solid;
  }
  45% {
    transform: rotateX(90deg);
    background-color: white;
    border: black;
    border-width: 2px;
    border-style: solid;
  }
  55% {
    transform: rotateX(90deg);
    color: white;
    background-color: #577e92;
    border-width: 0px;
  }
  100% {
    transform: rotateX(0);
    color: white;
    background-color: #577e92;
    border-width: 0px;
  }
}

@keyframes flip-yellow {
  0% {
    transform: rotateX(0);
    background-color: white;
    border: black;
    border-width: 2px;
    border-style: solid;
  }
  45% {
    transform: rotateX(90deg);
    background-color: white;
    border: black;
    border-width: 2px;
    border-style: solid;
  }
  55% {
    transform: rotateX(90deg);
    color: white;
    background-color: #c4993d;
    border-width: 0px;
  }
  100% {
    transform: rotateX(0);
    color: white;
    background-color: #c4993d;
    border-width: 0px;
  }
}

@keyframes rotato {
  40% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0);
  }
}
